@import "tailwindcss";

:root {
  --page-width: 1240px;
  --page-margin: 16px;

  --content-width: min(
    calc(var(--page-width) - var(--page-margin) * 2),
    calc(100% - var(--page-margin) * 2)
  );
  --content-margin: minmax(var(--page-margin), 1fr);
  --content-grid: var(--content-margin) var(--content-width)
    var(--content-margin);
}

.app-container {
  @apply grid grid-cols-[var(--content-grid)];
}

.app-container > .full-width {
  grid-column: 1 / -1;
}

#menu-ul.open {
  @apply block fixed w-full bg-white mt-[0.625rem] left-0 pt-[0.625rem];
}

#menu-ul.open a {
  @apply px-[0.625rem] py-[0.625rem];
}

#menu-ul.open > li:hover {
  @apply bg-black/10 font-bold;
}
